html {
  height: 100%;
  width: 100%;
  font-family: helvetica;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
}

header {
  height: 10%;
}
#counter{
  align-self: center;
  font-size: larger;
  font-weight: 600;
}
h1 {
  font-size: 2rem;
  margin-bottom:0;
      width: fit-content;
}
h6
{
font-size: 0.9rem;
margin:0;
padding-left: 0.5%;
display: inline;
}
h6:hover {
  color: red;
  cursor: pointer;
}
.header-text{
  padding-left: 5%;
}
b{
  color: darkslategrey;
}

main {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

#release-notes, #current-release {
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 0.2px;
}
#release-notes{
    padding-left: 0.7%;
}



.button {
  height: 125px;
  width: 160px;
  padding: 0;
  background-size: 160px 125px;
  background-repeat: no-repeat;
  background-image: url("assets/ding-icon-up.png");
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.button:active {
  background-image: url("assets/ding-icon-down.png");
  background-size: 160px 125px;
  background-repeat: no-repeat;
}
